.task {
  background-color: #383838;
  border-radius: 10px;
  border-color: grey;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.task:hover .task-tools {
  opacity: 1
}

.task-tools {
  opacity: 0;
  display: flex;
  flex-direction: row;
}
