.task {
  background-color: rgb(63, 63, 63);
  border-radius: 4px;
  border-color: grey;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
