.task {
  background-color: #383838;
  border-radius: 10px;
  border-color: grey;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.task:hover .task-tools {
  opacity: 1
}

.task-tools {
  opacity: 0;
  display: flex;
  flex-direction: row;
}
